{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Edit Fond documentaire</h5>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(edit_form.nombre) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(edit_form.typefondoc) }}
            </div>
        </div>
        <div class="row">
           <div class="input-field col s6">
            {{ form_widget(edit_form) }}
           </div>
        </div>
         <div class="row">
            <div class="input-field col s2">  <button type="submit" value="Create" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></button></div>
            <div class="input-field col s3"> 
                <a href="{{ path('pfe_saisi_fondoc') }}" class="btn blue-grey mdi-action-view-headline left"> Retour à la liste</a></div>
        </div>
            
            {{ form_end(edit_form) }}
            <div class="record_actions"></div>
        </div>
    </div>
{% endblock %}
