{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Remarque edit</h5>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="input-field col s8">
                {{ form_row(edit_form.nom) }}
            </div>
            <div class="input-field col s4">
                {{ form_row(edit_form.type) }}
            </div>
            <div class="input-field col s12">
                {{ form_row(edit_form.description) }}
            </div>
            {{ form_widget(edit_form) }}
           

             <div class="row">
            <div class="input-field col s2">  <button type="submit" value="Create" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></button></div>
            <div class="input-field col s3"> 
                <a href="{{ path('pfe_saisi_remarque') }}" class="btn blue-grey"> Retour à la liste</a></div>
        </div>
            {{ form_end(edit_form) }}
         
        </div>
    </div>
{% endblock %}
