{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Remarque edit</h5>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="input-field col s8">
                {{ form_row(edit_form.nom) }}
            </div>
            <div class="input-field col s4">
                {{ form_row(edit_form.type) }}
            </div>
            <div class="input-field col s12">
                {{ form_row(edit_form.description) }}
            </div>
            {{ form_widget(edit_form) }}
            <a href="{{ path('pfe_saisi_remarque') }}" class="btn blue-grey">
                <i class="mdi-action-view-headline left"></i> Retour à la liste
            </a>
            {{ form_end(edit_form) }}
            <div class="record_actions">{{ form(delete_form) }}</div>
        </div>
    </div>
{% endblock %}
