{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
<div class="row card-panel title top-grey col s11 cols2 crudcard">
    <h5 class="card-title">Bibliotheque list</h5>
    <table class="records_list bordered hoverable">
        <thead>
            <tr>
                <th>Datecreation</th>
                <th>Nom</th>
                <th>Superficie</th>
                <th>Tel / Fax</th>
                <th>Isformation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.superficie }}</td>
                <td>{{ entity.tel }} {% if entity.fax %} / {{ entity.fax }} {% endif %}</td>
                <td>{% if entity.isFormation %}<span class="badge new green">Oui</span> {% else %} <span class="badge new red">Non</span> {% endif %} </td>
                <td>
                    <a href="{{ path('pfe_admin_bibliotheque_edit', { 'id': entity.id }) }}" class="btn-flat waves-effect waves-teal">
                        <i class="mdi-editor-mode-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('pfe_admin_bibliotheque_new') }}" class="btn blue-grey">
        <i class="mdi-content-add left"></i> Créer nouveau</a>
</div>
{% endblock %}
