{% extends 'base.html.twig' %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body%}
<div class="row card-panel title top-grey col s11 cols2 crudcard">
	  <h5 class="card-title">Listes type espace </h5>

  <table class="records-list bordered hoverable">
  	<thead>
  		<tr>
  		  <th>Type </th>
  		  <th colspan="2">Actoins</th>
  		</tr>
  		{% for type in typeespace %}
        <tr>
        	<td>{{type.nom}}</td>
        	<td><a href="{{path('typeespace_edit',{'id':type.id})}}" class="btn-floating btn-large waves-effet wave-light red"><i class="material-icons">edit</i></a></td>

        	<td><a href="{{path('typeespace_remove',{'id':type.id})}}" class="btn-floating btn-large waves-effet wave-light red" onclick="return confirm('Voulez vous vraiment supprimer')"><i class="material-icons">delete</i></a></td>
        </tr>
  		{% endfor %}
  	</thead>

  </table>

   <a href="{{path('typeespace_new')}}" class="btn-large btn-floating wave-light waves-effet"><i class="material-icons">add</i></a>
   

</div>

{% endblock %}