{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Edit espace </h5>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(edit_form.isDisponible,{'label':'Disponibilité','attr':{'style':'padding-left:20%'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(edit_form.etat,{'label':'Etat','attr':{'style':'padding-left:20%'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                {{ form_row(edit_form.nombrePlaceAssises) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s5">
                {{ form_row(edit_form.typeespace) }}
            </div>
        </div>
        <div class="row">
           <div class="input-field col s6">
                {{ form_row(edit_form.bibliotheque) }}
            </div>
        </div>
        

        <div class="row">
            <div class="input-field col s1"></div>
           <div class="input-field col s1"><button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></button></div>
             <div class="input-field col s3"> 
            <a href="{{ path('pfe_saisi_espace') }}" class="btn blue-grey">
                <i class="mdi-action-view-headline left"></i> Retour à la liste
            </a></div>
        </div>
            
            {{ form_end(edit_form) }}
           
        
    </div>
{% endblock %}
