{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Espace edit</h5>
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(edit_form.isDisponible) }}
            </div>
            <div class="input-field col s6">
                {{ form_row(edit_form.etat) }}
            </div>
            <div class="input-field col s6">
                {{ form_row(edit_form.nombrePlaceAssises) }}
            </div>
            <div class="input-field col s6">
                {{ form_row(edit_form.typeespace) }}
            </div>
            {{ form_widget(edit_form) }}
            <a href="{{ path('pfe_saisi_espace') }}" class="btn blue-grey">
                <i class="mdi-action-view-headline left"></i> Retour à la liste
            </a>
            {{ form_end(edit_form) }}
            <div class="record_actions">{{ form(delete_form) }}</div>
        </div>
    </div>
{% endblock %}
