{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Création espace</h5>
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.isDisponible) }}
            </div>
        </div> 
        <div class="row">    
            <div class="input-field col s6">
                {{ form_row(form.etat) }}
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.nombrePlaceAssises) }}
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.typeespace) }}
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.bibliotheque) }}
            </div>
        </div>    
        <div class="row">
            <div class="input-field col s2">  <button type="submit" value="Create" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></button></div>
             <div class="input-field col s3"> 
            <a href="{{ path('pfe_saisi_espace') }}" class="btn blue-grey">
                <i class="mdi-action-view-headline left"></i> Retour à la liste
            </a></div>
        </div>
            {{ form_end(form) }}
      
    </div>
{% endblock %}
