
{% extends "::base.html.twig" %}

{% block title %}
  Dash - {{ parent() }}
{% endblock %}

{% block menu %}

    <ul class="hide-on-med-and-down">
        <li><a href=""><i class="material-icons mdi-action-home left"></i></a></li>
    {% if 'dash' in app.request.attributes.get('_route') %}
        <li>/</li>
        <li><a href="">Tableau de bord</a></li>

        {% if b is defined %}
            <li>/</li>
            <li><a href="{{ path('pfe_dash_bib_province', {'id': b.province.id}) }}"> {{ b.province.nom }} </a></li>
            <li>/</li>
            <li><a href="{{  path('pfe_dash_bib_presentation', {'id':b.id}) }}">{{ b.nom }}</a></li>
        {% endif %}

        {% if p is defined %}
            <li>/</li>
            <li><a href="{{ path('pfe_dash_bib_province', {'id': p.id}) }}">{{ p.nom }}</a></li>
        {% endif %}

        {% if 'maj' in app.request.attributes.get('_route') %}
            <li>/</li>
            <li><a href="#">MAJ</a></li>
        {% endif %}
    {% else %}
        {#<li>/</li>#}
        {#<li><a href="#">{{ app.request.attributes.get('_route')|title }}</a></li>#}
    {% endif  %}

        {% if 'admin' in app.request.attributes.get('_route') %}
            <li>/</li>
            <li><a href="">Administration</a></li>
        {% endif %}
        {% if 'saisi' in app.request.attributes.get('_route') %}
            <li>/</li>
            <li><a href="">Formulaire de saisi</a></li>
        {% endif %}

        {% if currt is defined %}
            <li>/</li>
            <li><a href="#">{{ currt }}</a></li>
        {% endif %}

        {% if 'edit' in app.request.attributes.get('_route') %}
            <li>/</li>
            <li><a href="#">Modification</a></li>
        {% endif %}
        {% if 'new' in app.request.attributes.get('_route') %}
            <li>/</li>
            <li><a href="#">Nouveau</a></li>
        {% endif %}
    </ul>

    {{ parent() }}
{% endblock %}

{% block actions %}

  <div class="col s7">
      {% if b is defined %}
        <nav class="z-depth-0">
          <div class="nav-wrapper white">
            <ul class="left hide-on-med-and-down">
              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_presentation' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Présentation">
                <a href="{{  path('pfe_dash_bib_presentation', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">info_outline</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_espaces' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Espaces Bibliothèque">
                <a href="{{ path('pfe_dash_bib_espaces', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">library_books</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_equipements' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Equipements">
                <a href="{{ path('pfe_dash_bib_equipements', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">work</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_fonds' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Fonds de documents">
                <a href="{{ path('pfe_dash_bib_fonds', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">description</i></a></li>

                {#<li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_catalogues' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Catalogue">#}
                {#<a href="{{ path('pfe_dash_bib_catalogues', {'id':b.id}) }}">#}
                {#<i class="material-icons grey-text">class</i></a></li>#}

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_prets' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Prêt">
                <a href="{{ path('pfe_dash_bib_prets', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">shopping_basket</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_adherents' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Adherents">
                <a href="{{ path('pfe_dash_bib_adherents', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">person_pin</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_animations' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Animation">
                <a href="{{ path('pfe_dash_bib_animations', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">games</i></a></li>

              <li class="tooltipped {% if app.request.attributes.get('_route') == 'pfe_dash_bib_remarques' %}activem active{% endif %}" data-position="bottom" data-delay="10" data-tooltip="Besoins et remarques">
                <a href="{{ path('pfe_dash_bib_remarques', {'id':b.id}) }}">
                  <i class="material-icons blue-grey-text">announcement</i></a></li>

            </ul>
          </div>
        </nav>
      {% endif %}
  </div>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
  <script src="{{ asset('js/highcharts.js') }}"></script>
  <script src="{{ asset('js/exporting.js') }}"></script>
{% endblock %}