{% extends "PFEDashBundle::layout.html.twig" %}
{% block title %}
    CRUD - {{ parent() }}
{% endblock %}
{% block body -%}
<div class="row card-panel wtitle top-black col s11 cols2 crudcard">
    <h5 class="card-title">SocialMedia</h5>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
        </tbody>
    </table>

    <div class="record_actions">
        <a href="{{ path('pfe_admin_socialmedia_edit', { 'id': entity.id }) }}" class="btn">
            <i class="mdi-editor-mode-edit left"></i> Modifier
        </a>
        <a href="{{ path('pfe_admin_socialmedia') }}" class="btn blue-grey">
            <i class="mdi-action-view-headline left"></i> Retour à la liste
        </a>
        {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
