{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
        <h5 class="card-title">Bibliotheque creation</h5>
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s8">
                {{ form_row(form.nom) }}
            </div>
            <div class="input-field col s4">
                {#{{ form_row(form.responsable) }}#}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.adresse) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.tel) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.fax) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.email) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.dateInstallationInternet) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.dateCreation) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                {{ form_row(form.superficie) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.catalogue) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.province) }}
            </div>
            <div class="input-field col s3">
                {{ form_row(form.isFormation) }}
            </div>
            {{ form_widget(form) }}
            <a href="{{ path('pfe_admin_bibliotheque') }}" class="btn blue-grey">
                <i class="mdi-action-view-headline left"></i> Retour à la liste
            </a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
