{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
<div class="row card-panel wtitle top-grey col s11 cols2 crudcard">
    <h5 class="card-title">SocialMedia list</h5>
    <table class="records_list bordered hoverable">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img style="padding: 0 2px;" src="{{ asset('img/socials/'~entity.nom~'.png') }}"/></td>
                <td>{{entity.nom}}</td>
                <td><a href="http://{{ entity.url }}" target="_blank">{{ entity.url }}</a></td>
                <td>
                    <a href="{{ path('pfe_admin_socialmedia_edit', { 'id': entity.id }) }}" class="btn-flat waves-effect waves-teal">
                        <i class="mdi-editor-mode-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('pfe_admin_socialmedia_new') }}" class="btn blue-grey">
        <i class="mdi-content-add left"></i> Créer nouveau</a>
</div>
    {% endblock %}
