{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
<div class="row card-panel wtitle top-black col s11 cols2 crudcard">
    <h5 class="card-title">Equipement</h5>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Isdisponible</th>
                <td>{% if entity.isDisponible %}
                        <span class="badge green new">Disponible</span>
                    {% else %}
                        <span class="badge red new">Non Disponible</span>
                    {% endif %} </td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nombre_endommage</th>
                <td>{{ entity.nombreendommage }}</td>
            </tr>
            <tr>
                <th>Nombre_nutilisable</th>
                <td>{{ entity.nombrenutilisable }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="record_actions">
        <a href="{{ path('pfe_saisi_equipement_edit', { 'id': entity.id }) }}" class="btn">
            <i class="mdi-editor-mode-edit left"></i> Modifier
        </a>
        <a href="{{ path('pfe_saisi_equipement') }}" class="btn blue-grey">
            <i class="mdi-action-view-headline left"></i> Retour à la liste
        </a>
        {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
