{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row card-panel wtitle top-grey col s11 cols2 crudcard">
        <h5 class="card-title">Espace list</h5>
        <table class="records_list bordered hoverable">
        <thead>
            <tr>
                <th>Created</th>
                <th>typeespace</th>
                <th>Isdisponible</th>
                <th>Etat</th>
                <th>Nombreplaceassises</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d') }}{% endif %}</td>
                <td>{{  entity.typeespace.nom }}</td>
                <td>{% if entity.isDisponible %}
                <span class="badge green new">Disponible</span>
                {% else %}
                <span class="badge red new">Non Disponible</span>
                {% endif %} </td>
                <td>{% if entity.etat %}
                <span class="badge blue new">Bon</span>
                {% else %}
                <span class="badge blue-grey new">Médiocre</span>
                {% endif %} </td>
                <td>{{ entity.nombrePlaceAssises }}</td>
                <td>
                    <a href="{{ path('pfe_saisi_espace_edit', { 'id': entity.id }) }}" class="btn-flat waves-effect waves-teal">
                        <i class="mdi-editor-mode-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('pfe_saisi_espace_new') }}" class="btn blue-grey">
        <i class="mdi-content-add left"></i> Créer nouveau</a>
</div>
    {% endblock %}
