{% extends 'base.html.twig' %}

{% block body %}
<div class="row card-panel title top-teal col s11 cols2 crudcard">
    <h5 class="card-title" style="text-align:left !important">Création bibliotheque </h5>

    {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">{{form_row(form.nom,{'label':'Nom bibliothèque'})}}</div>
       
            <div class="input-field col s6">{{form_row(form.superficie)}}</div>
        </div>
        
         <div class="row">
            <div class="input-field col s6">{{form_row(form.tel,{'label':'Telephone'})}}</div>

            <div class="input-field col s6">{{form_row(form.fax)}}</div>
        </div>

         <div class="row">
            <div class="input-field col s6">{{form_row(form.email)}}</div>

            <div class="input-field col s6">{{form_row(form.dateInstallationInternet)}}</div>
        </div>

         <div class="row">
            <div class="input-field col s6">
            
            {{form_row(form.isFormation,  {'label':'Formation','attr': {'class': 'form-control','style': 'padding-left: 20%;'}})}}</div>

            <div class="input-field col s6">{{form_row(form.responsable)}}</div>
        </div>

         <div class="row">
            <div class="input-field col s6">{{form_row(form.province)}}</div>

            <div class="input-field col s6">{{form_row(form.catalogue)}}</div>
        </div>
         <div class="row">
            <div class="input-field col s12">{{form_row(form.adresse)}}</div>
        </div>
         <div class="row">
            <div class="input-field col s2">  <button type="submit" value="Create" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">add</i></button></div>
            <div class="input-field col s5"> 
                <a href="{{ path('pfe_admin_bibliotheque') }}" class="btn waves-effect waves-light btn-small"><i class="material-icons left">undo</i>Retour</a></div>
        </div>
        
    {{ form_end(form) }}

   
        
</div>
    <script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 150, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false, // Close upon selecting a date,
    format: 'yyyy-mm-dd'
  });
    </script>
{% endblock %}
