{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Isdisponible</th>
                <td>{% if equipement.isDisponible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipement.nombre }}</td>
            </tr>
            <tr>
                <th>Nombre_endommage</th>
                <td>{{ equipement.nombreendommage }}</td>
            </tr>
            <tr>
                <th>Nombre_nutilisable</th>
                <td>{{ equipement.nombrenutilisable }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if equipement.created %}{{ equipement.created|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saisi_equipe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('saisi_equipe_edit', { 'id': equipement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
