{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}PFEDashBundle:Bib:adherents{% endblock %}

{% block body %}
    <div class="row">
        <div class="card wtitle col s5 cols2">
            <h3 class="card-title bigtitle blue-grey">Sexe</h3>
            <div class="card-content">
                <script type="text/javascript">
                    {{ chart(chart1) }}
                </script>
                <div id="piechart1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="card wtitle col s5 offset-s1">
            <h3 class="card-title bigtitle blue-grey">Age</h3>
            <div class="card-content">
                <script type="text/javascript">
                    {{ chart(chart2) }}
                </script>

                <div id="piechart2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card wtitle col s11 cols2">
            <h3 class="card-title bigtitle blue-grey">Total - {{ count }}</h3>
            <div class="card-content">
                {% if adherents %}
                <table class="records_list bordered hoverable">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date naissance</th>
                        <th>Age</th>
                        <th>Sexe</th>
                        <th>Date inscription</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in adherents %}
                        <tr>
                            <td>{{ a.nom|upper }}</td>
                            <td>{{ a.prenom|title }}</td>
                            <td>{% if a.dateNaissance %}{{ a.dateNaissance|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ a.age }}</td>
                            <td>{% if a.sexe %}<span class="badge new green">Homme</span> {% else %} <span class="badge new pink">Femme</span> {% endif %} </td>
                            <td>{% if a.dateInscription %}{{ a.dateInscription|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    no adherents nigga
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
