{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}PFEDashBundle:Bib:equipements{% endblock %}

{% block body %}

    <div class="row">
        <div class="card wtitle col s11 cols2">
            <ul class="tabs">
                <li class="tab col s3"><a class="blue-grey-text" href="#equips">Equipements</a></li>
                <li class="tab col s3"><a class="blue-grey-text" href="#rays">Rayonnages</a></li>
            </ul>
                <div id="equips" class="col s12"><br><div class="row">
                        <div class="card noshadow wtitle col s4 cols2">
                            <h3 class="card-title bigtitle blue-grey darken-1">Equipement</h3>
                            <div class="card-content">
                                <script type="text/javascript">
                                    {{ chart(chart1) }}
                                </script>

                                <div id="piechart1" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <div class="card noshadow wtitle col s7">
                            <h3 class="card-title bigtitle blue-grey">Equipement count with categories</h3>
                            <div class="card-content">
                                <script type="text/javascript">
                                    {{ chart(chart3) }}
                                </script>

                                <div id="barchart1" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card noshadow wtitle col s11 cols2">
                            <h3 class="card-title bigtitle blue-grey">Equipement Total - </h3>
                            <div class="card-content">
                                {% if equipements %}
                                    <table class="bordered hoverable">
                                        <tr>
                                            <th></th>
                                            <th>Disponibilité</th>
                                            <th>Nombre</th>
                                            <th>endom</th>
                                            <th>non util</th>
                                        </tr>
                                        {% for e in equipements %}
                                            <tr>
                                                <td>{{ e.typeequipement.nom }}</td>
                                                <td>{% if e.isDisponible %}
                                                        <span class="badge green new">Disponible</span>
                                                    {% else %}
                                                        <span class="badge red new">Non Disponible</span>
                                                    {% endif %} </td>
                                                <td><span class="badge blue new">{{ e.nombre }}</span></td>
                                                <td><span class="badge orange new">{{ e.nombre_endommage }}</span></td>
                                                <td><span class="badge grey darken-2 new">{{ e.nombre_nutilisable }}</span></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    no equipements nigga
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            <div id="rays" class="col s12"><br><div class="row">
                    <div class="card noshadow wtitle col s4 cols2">
                        <h3 class="card-title bigtitle blue-grey darken-1">rayonnage 1</h3>
                        <div class="card-content">
                            <script type="text/javascript">
                                {{ chart(chart2) }}
                            </script>

                            <div id="piechart2" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="card noshadow wtitle col s7">
                        <h3 class="card-title bigtitle blue-grey">rayonnage count with categories</h3>
                        <div class="card-content">
                            <script type="text/javascript">
                                {{ chart(chart4) }}
                            </script>

                            <div id="barchart2" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                            <div class="card noshadow wtitle col s11 cols2">
                            <h3 class="card-title bigtitle blue-grey">Rayonnage Total - </h3>
                            <div class="card-content">
                                {% if rayonnages %}
                                    <table class="bordered hoverable">
                                        <tr>
                                            <th></th>
                                            <th>Disponibilité</th>
                                            <th>Nombre</th>
                                            <th>endom</th>
                                            <th>non util</th>
                                        </tr>
                                        {% for e in rayonnages %}
                                            <tr>
                                                <td>{{ e.typeequipement.nom }}</td>
                                                <td>{% if e.isDisponible %}
                                                        <span class="badge green new">Disponible</span>
                                                    {% else %}
                                                        <span class="badge red new">Non Disponible</span>
                                                    {% endif %} </td>
                                                <td><span class="badge blue new">{{ e.nombre }}</span></td>
                                                <td><span class="badge orange new">{{ e.nombre_endommage }}</span></td>
                                                <td><span class="badge grey darken-2 new">{{ e.nombre_nutilisable }}</span></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    no rayonnage mister
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div></div>

        </div>

    </div>

{% endblock %}
