{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}PFEDashBundle:Bib:espaces{% endblock %}

{% block body %}
    <div class="row">
        <div class="card wtitle col s5 cols2">
            <h3 class="card-title bigtitle blue-grey">graph 1</h3>
            <div class="card-content">
                <script type="text/javascript">
                    {{ chart(chart1) }}
                </script>

                <div id="piechart1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="card wtitle col s5 offset-s1">
            <h3 class="card-title bigtitle blue-grey">graph 2</h3>
            <div class="card-content">
                <script type="text/javascript">
                    {{ chart(chart2) }}
                </script>

                <div id="piechart2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card wtitle col s11 cols2">
            <h3 class="card-title bigtitle blue-grey">Total - {{ cplaces|default('0') }}</h3>
            <div class="card-content">
                {% if espaces %}
                <table class="bordered hoverable">
                    <tr>
                        <th></th>
                        <th>Disponibilité</th>
                        <th>Etat</th>
                        <th>Nombre de places assises</th>
                    </tr>
                    {% for e in espaces %}
                    <tr>
                        <td>{{ e.typeespace.nom }}</td>
                        <td>{% if e.isDisponible %}
                                <span class="badge green new">Disponible</span>
                            {% else %}
                                <span class="badge red new">Non Disponible</span>
                            {% endif %} </td>
                        <td>{% if e.etat %}
                                <span class="badge blue new">Bon</span>
                            {% else %}
                                <span class="badge blue-grey new">Médiocre</span>
                            {% endif %} </td>
                        <td>{{ e.nombrePlaceAssises }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    no spaces nigga
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
