{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}PFEDashBundle:Bib:presentation{% endblock %}

{% block body %}
<div class="row">
    <div class="card wtitle col s6">
        <h3 class="card-title bigtitle blue-grey">{{ b.nom }}</h3>
        <div class="card-content">
            <span class="card-title black-text noborder"><u>Infos générales</u></span>
            <p><i class="mdi-action-schedule blue-grey-text text-darken-2"></i> <span class="blue-grey-text">Date création : </span>{{ b.dateCreation|date("d/m/Y")  }}</p>
            <!--<p><i class="mdi-action-account-balance blue-grey-text text-darken-2"></i> <span class="blue-grey-text">Tutelle(s) : </span>...</p>-->
            <p><i class="mdi-image-assistant-photo blue-grey-text text-darken-2"></i> <span class="blue-grey-text">Adresse : </span>{{ b.adresse }}</p>
            <p><i class="mdi-action-perm-phone-msg blue-grey-text text-darken-2"></i> <span class="blue-grey-text">Téléphone/Fax : </span>{{ b.tel }} / {{ b.fax }}</p>
            <p><i class="mdi-communication-email blue-grey-text text-darken-2"></i> <span class="blue-grey-text">E-mail : </span>{{ b.email }}</p>
            <p><i class="mdi-action-event blue-grey-text text-darken-2"></i> <span class="blue-grey-text">Date installation internet : </span>{{ b.dateInstallationInternet|date("d/m/Y")  }}</p>
            <p style="float: right;">
                {% if b.SocialMedia.count %}
                {% for sm in b.socialmedia %}
                        <a href="http://{{ sm.url }}" target="_blank"><img style="padding: 0 2px;" src="{{ asset('img/socials/'~sm.nom~'.png') }}"/></a>
                {% endfor %}
                {% else %}
                    Aucun
                {% endif %}
            </p>
            <br>
            <br>
        </div>
    </div>

    <div class="card wtitle col s5 cols2">
        <div class="card-image">
            <img src="{{ asset('img/office.jpg') }}">
        </div>
        <div class="card-content">
            <span class="card-title black-text noborder"><u>Responsable de bibliothèque</u></span>
            <p><i class="mdi-action-perm-identity text-darken-2"></i> Nom & Prenom : {{ b.responsable ? b.responsable.nom ~ ' ' ~ b.responsable.prenom }}</p>
            <p><i class="mdi-hardware-smartphone text-darken-2"></i> Téléphone :  </p>
            <p><i class="mdi-communication-email text-darken-2"></i> E-mail : {{b.responsable ? b.responsable.email}}</p>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="card wtitle indigo lighten-1 col s2">
        <h5 class="card-title white-text indigo darken-1"><i class="mdi-action-account-balance"></i> Superficie</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone">{{ b.superficie }} m² </p>
        </div>
    </div>
    <div class="card wtitle light-blue lighten-1 col s2 cols6">
        <h5 class="card-title white-text light-blue darken-1"><i class="mdi-image-tag-faces"></i> Places Assises OK</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone"> {{ cplaces|default("0") }} </p>
        </div>
    </div>
    <div class="card wtitle teal lighten-1 col s2 cols6">
        <h5 class="card-title white-text teal darken-1"><i class="mdi-action-account-box"></i> Fonctionnaires</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone">...</p>
        </div>
    </div>
    <div class="card wtitle orange lighten-1 col s2 cols6">
        <h5 class="card-title white-text orange darken-1"><i class="mdi-action-book"></i> Catalogue</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone smallalone">{{ b.catalogue.nom }}</p>
        </div>
    </div>
    <div class="card wtitle blue-grey lighten-1 col s2 cols6">
        <h5 class="card-title white-text blue-grey darken-1"><i class="mdi-action-supervisor-account"></i> Formation</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone">{% if b.isFormation %}Oui{%  else %}Non{% endif %}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card wtitle purple lighten-1 col s4">
        <h5 class="card-title white-text purple darken-1"><i class="mdi-action-face-unlock"></i> Adherents</h5>
        <div class="col s12">
            <div class="card-content smallbox">
                <p class="white-text bigalone">{{ countadherent }}</p>
            </div>
        </div>
    </div>
    <div class="card wtitle brown lighten-1 col s4 cols4">
        <h5 class="card-title white-text brown darken-1"><i class="mdi-action-note-add"></i> Fond Documentaire</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone">{{ countdocfonds }}</p>
        </div>
    </div>
    <div class="card wtitle red lighten-1 col s3 cols4">
        <h5 class="card-title white-text red darken-1"><i class="mdi-action-announcement"></i> Besoins & Remarques</h5>
        <div class="card-content smallbox">
            <p class="white-text bigalone">{{ countbesoins ~ ' / ' ~ countremarques}}</p>
        </div>
    </div>
</div>
{% endblock %}
